* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.cell {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.grid-container {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
}

button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
}